
.contenedor_principal{
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    height: 150px;
    border: 5px outset;
    border-radius: 10px;
    border-color: #275F42;
    transition-duration: 0.5s;
}
.contenedor_principal:hover{
    border-color: #FB8C00;
}

.contenedor_logo{
    width: 29%;
    height: 150px;

}
.contenedor_frase{
    text-shadow: 0 0 0px #275F42;
    margin-left: 20px;
    width: 50%;
    height: 120px;
    line-height: 150px;
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 30px;
    color: #FB8C00;
}

span{
    display: inline-block;
    vertical-align: middle;
    line-height: 30px;
}
.contenedor_botones{
    margin-left: 4%;
    width: 15%;
    height: 145px;

}

.contenedor_botton_inicio{
    margin-top:20px;
    text-align: center;
}
.contenedor_botton_registro{
    margin-top: 10px;
    text-align: center;
}

button{

    border: none;
    border-radius: 4px;
    color: white;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-family: 'Kanit', sans-serif;
    font-weight: bold;
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;

}

.btn-inicio-sesion{
    background-color: white;
    color: black;
    border: 2px solid #008CBA;
}
.btn-inicio-sesion:hover{
    background-color: #35A6A0;
    color: white;
}

#imagen_logo{
    width: 100%;
    height: 149px;
}


